.info-background{
    background-color: rgba(253, 231, 202, 0.911)
}
.bg-warning{
    background-image: linear-gradient(rgb(218, 82, 67) , rgb(100, 77, 100));
}
.bg-danger{
    background-image: linear-gradient(rgb(255, 146, 255) , rgb(74, 74, 163));    
}
.bg-primary{
    background-image: linear-gradient(green , yellow);
}
.btn-danger{
    background-image: linear-gradient(rgb(0, 225, 255) , rgba(134, 69, 255, 0.616));
    border-radius: 15px;
}
button{
    background-color: rgb(237, 127, 100);
}
.btn-warning{
    background-image: linear-gradient(orange , yellow);
    font-weight: 700;
    border-radius: 8px;
}